build/build.options.json
build/CircleSixteen.ino.elf
build/CircleSixteen.ino.hex
build/CircleSixteen.ino.with_bootloader.bin
build/CircleSixteen.ino.with_bootloader.hex
build/includes.cache
build/core/abi.cpp.o
build/core/CDC.cpp.o
build/core/core.a
build/core/HardwareSerial.cpp.o
build/core/HardwareSerial0.cpp.o
build/core/HardwareSerial1.cpp.o
build/core/HardwareSerial2.cpp.o
build/core/HardwareSerial3.cpp.o
build/core/hooks.c.o
build/core/IPAddress.cpp.o
build/core/main.cpp.o
build/core/new.cpp.o
build/core/PluggableUSB.cpp.o
build/core/Print.cpp.o
build/core/Stream.cpp.o
build/core/Tone.cpp.o
build/core/USBCore.cpp.o
build/core/WInterrupts.c.o
build/core/wiring_analog.c.o
build/core/wiring_digital.c.o
build/core/wiring_pulse.c.o
build/core/wiring_shift.c.o
build/core/wiring.c.o
build/core/WMath.cpp.o
build/core/WString.cpp.o
build/libraries/.DS_Store
build/libraries/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp.o
build/libraries/Adafruit_NeoPixel/esp.c.o
build/libraries/Adafruit_NeoPixel/esp8266.c.o
build/libraries/Adafruit_NeoPixel/kendyte_k210.c.o
build/libraries/ButtonFever/BfButton.cpp.o
build/libraries/ButtonFever/BfButtonManager.cpp.o
build/libraries/RotaryEncoder/RotaryEncoder.cpp.o
build/libraries/SPI/SPI.cpp.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/CircleSixteen.ino.cpp
build/sketch/CircleSixteen.ino.cpp.d
build/sketch/CircleSixteen.ino.cpp.o
build/sketch/Hsv.cpp
build/sketch/Hsv.cpp.d
build/sketch/Hsv.cpp.o
build/sketch/Hsv.h
build/sketch/MCPEncoder.cpp
build/sketch/MCPEncoder.cpp.d
build/sketch/MCPEncoder.cpp.o
build/sketch/MCPEncoder.h
build/sketch/Sequence.h
